body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 200px;
    padding: 10px;
    color: rgb(245, 245, 245);
    letter-spacing: 2px;
}

img{
    height: 50px;
    width: 50px;
}

p{
    opacity: 0.8;
}

.c-1{
    background-color: rgba(230, 126, 34, 1);
}

.c-2{
    background-color: rgba(74, 20, 140, 1);
}

.c-3{
    background-color: rgba(0, 77, 80, 1);
}


button{
    border-radius: 20px;
    border: none;
    padding:10px;
    cursor: pointer;
}

.c-1 button{
    color: rgba(230, 126, 34, 1);
}

.c-2 button{
    color: rgba(74, 20, 140, 1);
}

.c-3 button{
    color: rgba(0, 77, 80, 1);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }
}
